#notFound {
    background-image: url('../../../assets/img/404.gif');
    background-size: cover;
    
    height: 100% !important;
    width: 100% !important;
  }
  h1 {
    font-size: 60px;
    color: var(--white);
    margin: 280px;
    text-align: center;
  }