<div class="container" *ngIf="project">
  <h2>{{ project.name }}</h2>
  <div>
    <label class="col-md-6">
      Monto:
      <input type="text" [formControl]="amount" />
    </label>
  </div>

  <div>
    <label> Comentario: </label>
    <textarea
      [formControl]="comment"
      required=""
      class="form-control"
      maxlength="1000"
    ></textarea>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="goBack()">Atrás</button>
    <button class="btn btn-primary" (click)="donate()">Donar</button>
  </div>
</div>
