<div class="center-form">
  <div class="box" *ngIf="project">
    <h2>{{ project.name }}</h2>
    <form [formGroup]="donationForm" (ngSubmit)="onSubmit()" class="row">
      <div class="col-md-12">
        <label i18n > Monto: </label>
        <div class="form-group">
          <input
            [class.is-invalid]="
              getField('amount').invalid && getField('amount').touched
            "
            (keypress)="onlynumber($event)"
            formControlName="amount"
            type="text"
            class="form-control"
            maxlength="15"
          />
          <div *ngIf="getField('amount').invalid && getField('amount').touched">
            <small
              i18n
              *ngIf="getField('amount').errors?.required"
              class="text-danger"
              >Campo obligatorio</small
            >
          </div>
        </div>
        <label i18n > Comentario: </label>
        <div class="form-group">
          <textarea
            [class.is-invalid]="
              getField('comment').invalid && getField('comment').touched
            "
            formControlName="comment"
            required=""
            class="form-control comentarios-container"
            maxlength="1000"
          ></textarea>
          <div
            *ngIf="getField('comment').invalid && getField('comment').touched"
          >
            <small
              i18n
              *ngIf="getField('comment').errors?.required"
              class="text-danger"
              >Campo obligatorio</small
            >
            <small
              i18n
              *ngIf="getField('comment').errors?.minlength"
              class="text-danger"
              >Debe contener al menos 5 caracteres</small
            >
          </div>
        </div>
        <button
          i18n
          class="btn btn-primary left-width"
          type="button"
          (click)="goBack()"
        >
          Atrás
        </button>
        <button
          i18n
          [disabled]="!donationForm.valid"
          class="btn btn-primary right-width"
          type="submit"
        >
          Donar
        </button>
      </div>
    </form>
  </div>
</div>
