<div *ngIf="pagesDonations | async as pages">
  <div *ngIf="pages.content.length > 0">
    <div class="card-body">
      <table class="table table-responsive-md table-bordered">
        <thead class="thead-lightblue">
          <tr>
            <th i18n scope="col">Nombre del proyecto</th>
            <th i18n scope="col">Fecha</th>
            <th i18n scope="col">Puntos</th>
            <th i18n scope="col">Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donation of pages.content" class="table-light">
            <td>{{ donation.projectName }}</td>
            <td>{{ getDate(donation.date) }}</td>
            <td>{{ donation.points }}</td>
            <td>{{ donation.amount }}</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="!pages.first">
            <a class="page-link" (click)="rewind()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let p of totalPages; let i = index">
            <a
              class="page-link"
              (click)="setPage(i)"
              [ngClass]="{ 'text-primary': i === page }"
              >{{ i + 1 }}</a
            >
          </li>
          <li class="page-item" *ngIf="!pages.last">
            <a class="page-link" (click)="forward()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
