<section id="about-us" class="bgLightGrey">
  <div class="center">
    <h2>Argentina Conectada</h2>
    <h6>
      Actualmente existen muchísimos pueblos y localidades que aún no cuentan
      con conectividad a Internet. El programa Argentina Conectada (luego
      rebautizado como Plan Federal de Internet) se propone llevar conectividad
      a todo el país, pueblo por pueblo.
    </h6>
  </div>
  <div class="center">
    <button
      class="btn-collapse"
      type="button"
      data-toggle="collapse"
      data-target="#collapseInfo"
      aria-expanded="false"
      aria-controls="collapseInfo"
    >
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </button>
  </div>
  <div class="collapse" id="collapseInfo">
    <div class="card card-body center-text">
      el Plan Argentina Conectada, a diferencia de otras políticas públicas del
      sector, destinó la inversión estatal a la capa de infraestructura de
      internet, un punto crítico por su alta concentración y eleva-dos costos de
      capital, a través de la construcción de la Red Federal de Fibra Óptica
      (REFEFO). La misma se planteó como una red troncal a cargo del Estado, que
      permitiera llegar a todo el país con tecnología de última generación,
      infraestructura multipropósito y capacidad de trasmitir información de
      diverso tipo, no solo internet, para responder a demandas de alta
      capacidad en el mediano y largo plazo. El diseño de este tendido no se
      basó en una estructura heredada sino que respondió a los intereses
      definidos por el propio Plan (diferente, por ejemplo, a la lógica de
      mercado del antiguo tendido ferroviario nacional iniciado en 1880), y
      apuntó a favorecer la interconexión entre prestadores, mayor competencia y
      horizontalidad en la distribución y acceso a internet (Feider, Galanternik
      y Meza Ingaramo, 2013).
    </div>
  </div>
</section>
