<footer class="bgDark">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.instagram.com/" target="_blank"
            ><img src="../../../assets/img/instagram.svg" class="img-fluid"
          /></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/" target="_blank"> 
            <img src="../../../assets/img/facebook.svg" class="img-fluid"/></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.youtube.com/"><img src="../../../assets/img/youtube.svg" class="img-fluid"/></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><img src="../../../assets/img/phone.svg" class="img-fluid"/></a>
        </li>
      </ul> 
      <small>©Copyright 2020 Argentina Conectada - Todos los derechos reservados.</small>
    </div>
  </footer>