<section id="projects">
  <div class="container">
    <h2 i18n="projects@@projects" class="content-center mt-0 topmargin-lg">Proyectos</h2>
    <div class="accordion" id="accordion">
      <div class="card">
        <h5 class="mb-0">
          <button
            class="btn btn-primary btn-lg btn-block"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Proyectos abiertos
          </button>
        </h5>
        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <app-table-project [projects]="openProjects"></app-table-project>
        </div>
      </div>
      <div class="card">
        <h5 class="mb-0">
          <button
            class="btn btn-primary btn-lg btn-block"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            Proyectos próximos a finalizar
          </button>
        </h5>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <app-table-project [projects]="nearlyClosedProjects"></app-table-project>
        </div>
      </div>
    </div>
  </div>
</section>