h1{
    -webkit-text-stroke: 0.4px var(--black);
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
}

h5{
    -webkit-text-stroke: 0.3px var(--black);
    color: var(--white) !important;
    line-height: 1.8;
    margin-bottom: 0;
}

.topmargin-lg{ margin-top: 180px !important; }

.topmargin-sm{ margin-top: 30px; }

.topmargon-ss{ margin-top: 15px; } 

.btn {
    font-size: 14px;
    padding: 5px 5px;
    min-width: 120px;
    border-radius: 50px;
    display: inline-block;
}

.btn-light {
    background-color: var(--lightblue) !important;
    color: var(--white);
}

.btn-light:hover {
    background-color: var(--lightblue-hover) !important;
}

#banner{
    padding-top: 4% !important;
}

#banner p{ color: var(--white); }

.carousel-inner .carousel-item img {
    background-size: cover;
    max-height: 892px;
    min-height: 902px;
} 


.carousel-caption {
    right: 15%;
    top: 22%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
    text-align: center;
}

 @media (min-width: 218px) and (max-width: 460px) {
    .carousel-inner .carousel-item img {
        min-height: 804px;
    }
 }

 @media (min-width: 460px) and (max-width: 680px) {
    .carousel-inner .carousel-item img {
        min-height: 794px;
    }
 }

 @media (min-width: 680px) and (max-width: 784px) {
    .carousel-inner .carousel-item img {
        min-height: 784px;
    }
 }

 @media (min-width: 784px) and (max-width: 1100px) {
    .carousel-inner .carousel-item img {
        min-height: 788px;
    }
 }

 @media (max-width: 375px) { 
    .carousel-caption {
        font-size: 16px;
        color: var(--white);
        text-align: center;
    }
 }