<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
	<a class="navbar-brand center" href="#"
	><img src="../../../assets/img/logo.png" alt="logo" /> <b> Argentina
    Conectada</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="material-icons"> menu </span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-item nav-link active" (click)="collapse()" i18n="home@@home">Home</a>
			<a class="nav-item nav-link" (click)="collapse()" href="#about-us">About us</a>
			<a href="#projects" class="nav-item nav-link" (click)="collapse()" i18n="projects@@projects">Projects</a>
			<!-- <a class="nav-item nav-link" (click)="collapse()" routerLink="login" *ngIf="!isLogin">Login</a> -->
			<a class="nav-item nav-link" (click)="auth.loginGoogle()" *ngIf="!auth.isAuthenticated()">Login</a>
			<a class="nav-item nav-link" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Logout</a>
   			<div class="nav-item dropdown" *ngIf="auth.isAuthenticated() && $user | async as user">
				<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
				<img *ngIf="user.img; else withImg" src="data:image/gif;base64,{{ user.img }}" class="rounded-circle" width="150" alt="member:{{ user.name }}"/>
				<ng-template #withImg>
					<img src="../../../assets/img/avatar_account.png" class="avatar" alt="Avatar"/>
				</ng-template>
            	{{ user.userName }} <b class="caret"></b></a>
				<div class="dropdown-menu">
					<a routerLink="profile" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<!-- <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a> -->
					<div class="dropdown-divider divider"></div>
					<a href="#" class="dropdown-item" (click)="logOut()"><i class="material-icons">&#xE8AC;</i> Logout</a>
				</div>
			</div>
		</div>
	</div>
</nav>


