table { 
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

.thead-lightblue {
    color: var(--white);
    background-color: var(--lightblue);
}

.btn-primary {
    background-color: var(--lightblue) !important;
}

.btn-primary:hover {
    background-color: var(--lightblue-hover) !important;
}

.btn-outline-primary {
    border-color: var(--lightblue) !important;
    color: var(--lightblue) !important;
}

.btn-outline-primary:hover {
    color: var(--white) !important;
    background-color: var(--lightblue) !important;
}