<div *ngIf="pagesProjects | async as pages">
  <div *ngIf="pages.content.length > 0">
    <div class="card-body">
      <table class="table table-responsive-md table-bordered">
        <thead class="thead-lightblue">
          <tr>
            <th i18n="project name@@project name" scope="col">Nombre</th>
            <th i18n="place name@@place name" scope="col">Localidad</th>
            <th i18n="province name@@province" scope="col">Provincia</th>
            <th i18n="conectivity status@@con status" scope="col">
              Conectividad
            </th>
            <th i18n="amount raised@@amount raised" scope="col">
              Total recaudado
            </th>
            <th i18n="pct left@@pct left" scope="col">% faltante</th>
            <th
              i18n="project actions@@project actions"
              scope="col"
              *ngIf="role === 'User' || (role === 'Admin' && isLogin)"
            >
              Donar
            </th>
            <th
              i18n="project actions@@project actions"
              scope="col"
              *ngIf="role === 'Admin' && isLogin"
            >
              Finalizar Proyecto
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let p of pages.content"
            class="table-light"
            (click)="collapse()"
          >
            <td>{{ p.name }}</td>
            <td>{{ p.placeName }}</td>
            <td>{{ p.province }}</td>
            <td>{{ p.conectivity }}</td>
            <td>{{ p.raised }}</td>
            <td>{{ p.pct_left_to_reach_goal }}%</td>
            <td *ngIf="role === 'User' || (role === 'Admin' && isLogin)">
              <a
                routerLink="/donation/{{ p.id }}"
                class="btn btn-outline-primary"
                >Donar</a
              >
            </td>
            <td class="btn-center" *ngIf="role === 'Admin' && isLogin">
              <a (click)="closeProject(p.id)" class="btn btn-outline-danger"
                >Finalizar</a
              >
            </td>
          </tr>
        </tbody>
        <div *ngIf="role === 'Admin' && isLogin">
          <button class="btn btn-outline-primary" routerLink="/createProject">
            Nuevo Proyecto
          </button>
        </div>
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="!pages.first">
            <a class="page-link" (click)="rewind()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let p of totalPages; let i = index">
            <a
              class="page-link"
              (click)="setPage(i)"
              [ngClass]="{ 'text-primary': i === page }"
              >{{ i + 1 }}</a
            >
          </li>
          <li class="page-item" *ngIf="!pages.last">
            <a class="page-link" (click)="forward()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
